/* ========== DESIGN SYSTEM ========== */
:root {
  /* Colors */
  --main-accent: 27deg, #ffc593 0%, #bc7198 43.29%, #5a77ff 83.33%;
  --pure-black: #000;
  --pure-white: #fff;
  --light-grey: #dfdfdf;
}

/* ========== RESET CSS ========== */
*,
*::after,
*::before {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture,
ul,
hr {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/* set up the body */
body {
  min-height: 100vh;

  background-color: var(--pure-white);

  font-family: 'DM Sans', sans-serif;

  text-rendering: optimizeSpeed;

  line-height: 1.5;

  font-weight: 400;

  line-height: normal;
}

/* make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ========== UTILITY CLASSES ========== */

/* buttons */
.btn-one {
  max-width: fit-content;

  padding: 0.875rem 1.5rem;

  letter-spacing: 2px;

  transition: background-color 500ms ease-in, color 500ms ease;
}

.btn-one:hover {
  background-color: var(--light-grey);
  color: var(--pure-black);
}

/* Layout classes */
.d-flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.flex-col {
  flex-direction: column;
}

.row-reversed {
  flex-direction: row-reverse;
}

.main-accent {
  background: linear-gradient(var(--main-accent));
}

/* Background colors */
.bg-dark {
  background-color: var(--pure-black);
}

/* Font colors */

.text-clr-dark {
  color: var(--pure-black);
}

.text-clr-light {
  color: var(--pure-white);
}

/* Font-size  */
.fs-12 {
  font-size: 0.875rem;
}

/* Font weight */
.bold {
  font-weight: 700;
}

/* Heading classes */
.heading-one {
  font-size: clamp(32px, calc(0.9vw + 26.28px), 40px);

  line-height: 48px;

  letter-spacing: 4.17px;
}

.heading-two {
  font-size: 1.5rem;

  line-height: 25px;
}

.heading-three {
  font-size: 1.125rem;

  line-height: 25px;
}

.heading-four {
  font-size: 0.875rem;

  line-height: 16px;

  letter-spacing: 2px;
}

/* Body text class */
.body-text {
  font-size: 1rem;

  line-height: 25px;
}

/* Gap */
.gap-16 {
  gap: 1rem;
}
.gap-36 {
  gap: 2.25rem;
}

/* Padding */
.pb-28 {
  padding-block: 1.75rem;
}

.pb-64 {
  padding-block: 4rem;
}

/* Text transformation */
.uppercase {
  text-transform: uppercase;
}

/* Letter spacing */
.ls-2 {
  letter-spacing: 2px;
}

.ls-2-5 {
  letter-spacing: 2.5px;
}

/* Opacity classes */
.opacity-60 {
  opacity: 0.6;
}

.opacity-75 {
  opacity: 0.75;
}
/* Width  */
.full-width {
  width: 100%;
}

.page-container {
  position: relative;
  max-width: 1440px;

  margin-inline: auto;

  /* border: 1px solid lightslategray; */
}

.container {
  max-width: 1110px;
  padding-inline: 1.5rem;

  margin-inline: auto;

  /* border: 1px solid darkgoldenrod; */
}

/* ========== HEADER COMPONENT ========== */
header {
  max-width: 1110px;
  width: 100%;
}

nav .active {
  opacity: 0.3;
}

.menu-icon {
  display: none;

  border: none;
  background-color: transparent;

  cursor: pointer;
}

.mobile-nav {
  width: 100%;

  display: none;

  gap: 1.5rem;

  padding: 2rem;
}

.menu-divider {
  width: 186px;
  height: 1px;

  background-color: var(--pure-black);

  opacity: 0.25;
}

/* ========== HOME COMPONENT ========== */

.img-container,
.img-container-inverse {
  width: 57%;
  display: flex;
  align-items: center;
}
.img-container-inverse {
  justify-content: flex-end;
}

.hero-article {
  width: 43%;

  justify-content: center;
}

.article-text {
  max-width: 390px;

  gap: 1.5rem;
}

.cta-section {
  width: 100%;

  gap: 1.125rem;

  font-size: 0.875rem;

  letter-spacing: 2px;
}

.card-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.card {
  position: relative;

  cursor: pointer;
}

.card:hover {
  margin-top: -24px;
}

.card:hover .hover-element {
  display: block;
  bottom: 24px;
}

.card:hover .card-content {
  bottom: 24px;
}

.hover-element {
  position: absolute;

  display: none;
  width: 100%;
  height: 6px;

  background: linear-gradient(var(--main-accent));

  bottom: 0;

  z-index: 25;
}

.card-picture {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.card-content {
  position: absolute;

  width: 100%;

  padding: 2.5rem;

  gap: 1rem;

  bottom: 0;
}

.card-title {
  font-size: 1.125rem;

  line-height: 25px;
}

.card-author {
  font-size: 0.875rem;
}

.card-divider {
  width: 100%;
  height: 1px;

  background-color: var(--pure-white);

  opacity: 0.25;
}

.card-cta-title {
  font-size: 0.875rem;
}

.features-section {
  max-width: 1110px;
  width: 100%;

  padding-block: 7.5rem;
  padding-inline: 1rem;

  margin-inline: auto;
}

.features-list {
  width: 100%;
  justify-content: space-between;
  align-items: stretch;

  gap: 2rem;
}

.features-item {
  align-items: center;
  gap: 3rem;
}

.features-item img {
  width: 72px;
  height: 72px;
  object-fit: contain;
  display: flex;
  justify-content: center;
  align-items: center;
}

.features-content {
  gap: 1rem;
  flex-grow: 1;
  justify-content: flex-end;

  text-align: center;
}

.features-content .heading-three {
  margin-top: auto;
}

/* ========== STORIES COMPONENT ========== */
.hero-section {
  position: relative;
}

.hero-content-container {
  position: absolute;
  padding: 1.5rem;
  top: 0;
  left: 0;

  width: 50%;
  height: 100%;
}

.hero-content {
  gap: 1rem;

  max-width: 400px;
}

/* ========== FEATURES COMPONENT ========== */
.features-page-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2rem;
  row-gap: 6.25rem;

  place-items: center;

  align-items: start;
}

/* ========== BETA COMPONENT ========== */
.beta-section {
  background-image: url('../src/assets/shared/desktop/bg-beta.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  padding-block: 4.25rem;
}

.beta-invite-content {
  max-width: 30ch;
}

/* ========== FOOTER COMPONENT ========== */
.footer-left-side {
  gap: 7rem;
}

.logo-social-link-container {
  justify-content: space-between;
}

.social-links-container {
  gap: 1.5rem;
}

.social-link svg path {
  fill: white;
}

.social-link:nth-child(1) svg path:hover {
  fill: url(#a);
}

.social-link:nth-child(2) svg path:hover {
  fill: url(#b);
}

.social-link:nth-child(3) svg path:hover {
  fill: url(#c);
}

.social-link:nth-child(4) svg path:hover {
  fill: url(#d);
}

.social-link:nth-child(5) svg path:hover {
  fill: url(#e);
}

.footer-nav {
  gap: 1.125rem;
}

.footer-right-side {
  justify-content: space-between;
  align-items: flex-end;
}

.cta-content:hover {
  text-decoration: underline;
}

.copyright-text {
  font-size: 1rem;

  opacity: 0.5;
}

@media screen and (max-width: 950px) {
  /* ========== HOME COMPONENT ========== */
  .img-container,
  .img-container-inverse {
    width: 28%;
  }

  .hero-article {
    width: 72%;
  }

  .card-section {
    grid-template-columns: 1fr 1fr;
  }

  /* ========== FEATURES COMPONENT ========== */
  .features-page-list {
    grid-template-columns: 1fr 1fr;

    row-gap: 5rem;
  }
}

@media screen and (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .main-nav,
  .btn-container {
    display: none;
  }

  .mobile-nav {
    position: absolute;
    display: flex;

    top: 75px;
    left: 50%;
    transform: translate(-50%);

    background-color: var(--pure-white);

    z-index: 10;
  }

  .features-list {
    flex-direction: column;
    align-items: center;
    gap: 5rem;
  }

  .features-item {
    max-width: 450px;
  }

  .footer-container {
    flex-direction: column;
    align-items: center;

    gap: 5rem;
  }

  .footer-left-side {
    flex-direction: column;

    align-items: center;
    gap: 3rem;
  }

  .footer-nav {
    align-items: center;
  }

  .logo-social-link-container {
    gap: 2rem;
  }

  .footer-right-side {
    gap: 2rem;

    align-items: center;
  }

  /* ========== BETA COMPONENT ========== */
  .beta-section {
    background-image: url('../src/assets/shared/tablet/bg-beta.jpg');
  }
}

@media screen and (max-width: 650px) {
  /* ========== HOME COMPONENT ========== */
  .main-article {
    flex-direction: column;
  }
  .img-container,
  .img-container-inverse,
  .hero-article {
    width: 100%;
  }

  .hero-article {
    padding: 4.5rem 1.5rem;
  }

  .card-section {
    grid-template-columns: 1fr;
  }

  .hero-content-container {
    position: relative;

    width: 100%;

    background-color: var(--pure-black);
  }

  /* ========== FEATURES COMPONENT ========== */
  .features-page-list {
    grid-template-columns: 1fr;

    row-gap: 3rem;
  }

  /* ========== BETA COMPONENT ========== */
  .beta-section {
    background-image: url('../src/assets/shared/mobile/bg-beta.jpg');
  }

  .beta-container {
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
  }
}
