/* ========== DESIGN SYSTEM ========== */
:root {
  /* Colors */
  --main-accent: 27deg, #ffc593 0%, #bc7198 43.29%, #5a77ff 83.33%;
  --pure-black: #000;
  --pure-white: #fff;
  --light-grey: #dfdfdf;
}

/* ========== RESET CSS ========== */
*,
*::after,
*::before {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture,
ul,
hr {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/* set up the body */
body {
  min-height: 100vh;

  background-color: var(--pure-white);

  font-family: 'DM Sans', sans-serif;

  text-rendering: optimizeSpeed;

  line-height: 1.5;

  font-weight: 400;

  line-height: normal;
}

/* make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ========== UTILITY CLASSES ========== */

/* buttons */
.btn-one {
  max-width: fit-content;

  padding: 0.875rem 1.5rem;

  letter-spacing: 2px;

  transition: background-color 500ms ease-in, color 500ms ease;
}

.btn-one:hover {
  background-color: var(--light-grey);
  color: var(--pure-black);
}

/* Layout classes */
.d-flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start;
}

.space-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.flex-col {
  flex-direction: column;
}

.row-reversed {
  flex-direction: row-reverse;
}

.main-accent {
  background: linear-gradient(var(--main-accent));
}

/* Background colors */
.bg-dark {
  background-color: var(--pure-black);
}

.bg-grey {
  background-color: var(--light-grey);
}

/* Font colors */

.text-clr-dark {
  color: var(--pure-black);
}

.text-clr-light {
  color: var(--pure-white);
}

/* Font-size  */
.fs-12 {
  font-size: 0.875rem;
}

/* Font weight */
.bold {
  font-weight: 700;
}

/* Heading classes */
.heading-one {
  font-size: clamp(32px, calc(0.9vw + 26.28px), 40px);

  line-height: 48px;

  letter-spacing: 4.17px;
}

.heading-two {
  font-size: 1.5rem;

  line-height: 25px;
}

.heading-three {
  font-size: 1.125rem;

  line-height: 25px;
}

.heading-four {
  font-size: 0.875rem;

  line-height: 16px;

  letter-spacing: 2px;
}

/* Body text class */
.body-text {
  font-size: 1rem;

  line-height: 25px;
}

/* Gap */
.gap-16 {
  gap: 1rem;
}
.gap-36 {
  gap: 2.25rem;
}

.gap-70 {
  gap: 4.375rem;
}

/* Padding */
.pb-28 {
  padding-block: 1.75rem;
}

.pb-64 {
  padding-block: 4rem;
}

/* Text transformation */
.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

/* Letter spacing */
.ls-2 {
  letter-spacing: 2px;
}

.ls-2-5 {
  letter-spacing: 2.5px;
}

/* Opacity classes */
.opacity-50 {
  opacity: 0.5;
}
.opacity-60 {
  opacity: 0.6;
}

.opacity-75 {
  opacity: 0.75;
}
/* Width  */
.full-width {
  width: 100%;
}

.page-container {
  position: relative;
  max-width: 1440px;

  margin-inline: auto;

  /* border: 1px solid lightslategray; */
}

.container {
  max-width: 1110px;
  padding-inline: 1.5rem;

  margin-inline: auto;

  /* border: 1px solid darkgoldenrod; */
}

/* ========== HEADER COMPONENT ========== */
header {
  max-width: 1110px;
  width: 100%;
}

nav .active {
  opacity: 0.3;
}

.menu-icon {
  display: none;

  border: none;
  background-color: transparent;

  cursor: pointer;
}

.mobile-nav {
  width: 100%;

  display: none;

  gap: 1.5rem;

  padding: 2rem;
}

.menu-divider {
  width: 186px;
  height: 1px;

  background-color: var(--pure-black);

  opacity: 0.25;
}

/* ========== HOME COMPONENT ========== */

.img-container,
.img-container-inverse {
  width: 57%;
  display: flex;
  align-items: center;
}
.img-container-inverse {
  justify-content: flex-end;
}

.hero-article {
  width: 43%;

  justify-content: center;
}

.article-text {
  max-width: 390px;

  gap: 1.5rem;
}

.cta-section {
  width: 100%;

  gap: 1.125rem;

  font-size: 0.875rem;

  letter-spacing: 2px;
}

.card-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.card {
  position: relative;

  cursor: pointer;
}

.card:hover {
  margin-top: -24px;
}

.card:hover .hover-element {
  display: block;
  bottom: 24px;
}

.card:hover .card-content {
  bottom: 24px;
}

.hover-element {
  position: absolute;

  display: none;
  width: 100%;
  height: 6px;

  background: linear-gradient(var(--main-accent));

  bottom: 0;

  z-index: 25;
}

.card-picture {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.card-content {
  position: absolute;

  width: 100%;

  padding: 2.5rem;

  gap: 1rem;

  bottom: 0;
}

.card-title {
  font-size: 1.125rem;

  line-height: 25px;
}

.card-author {
  font-size: 0.875rem;
}

.card-divider {
  width: 100%;
  height: 1px;

  background-color: var(--pure-white);

  opacity: 0.25;
}

.card-cta-title {
  font-size: 0.875rem;
}

.features-section {
  max-width: 1110px;
  width: 100%;

  padding-block: 7.5rem;
  padding-inline: 1rem;

  margin-inline: auto;
}

.features-list {
  width: 100%;
  justify-content: space-between;
  align-items: stretch;

  gap: 2rem;
}

.features-item {
  align-items: center;
  gap: 3rem;
}

.features-item img {
  width: 72px;
  height: 72px;
  object-fit: contain;
  display: flex;
  justify-content: center;
  align-items: center;
}

.features-content {
  gap: 1rem;
  flex-grow: 1;
  justify-content: flex-end;

  text-align: center;
}

.features-content .heading-three {
  margin-top: auto;
}

/* ========== STORIES COMPONENT ========== */
.hero-section {
  position: relative;
}

.hero-content-container {
  position: absolute;
  padding: 1.5rem;
  top: 0;
  left: 0;

  width: 50%;
  height: 100%;
}

.hero-content {
  gap: 1rem;

  max-width: 400px;
}

/* ========== FEATURES COMPONENT ========== */
.features-page-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2rem;
  row-gap: 6.25rem;

  place-items: center;

  align-items: start;
}

/* ========== PRICING COMPONENT ========== */
.pricing-section {
  gap: 3rem;

  margin-block: 9.5rem;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 64px;
  height: 32px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 24px;
  width: 24px;
  left: 4px;
  bottom: 4px;
  background-color: var(--pure-black);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--light-grey);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--light-grey);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.switch-text {
  font-size: 1.125rem;

  line-height: 25px;
}

.pricing-card-list {
  display: flex;
  justify-content: space-around;
  align-items: center;

  gap: 2rem;
}

.bg-card {
  background-color: #f5f5f5;
}

.price-card {
  position: relative;

  display: grid;
  flex-direction: column;

  gap: 2.5rem;

  max-width: 350px;
  width: 100%;

  padding: 3.5rem 2.5rem;
  transition: transform 0.3s ease;
}

.price-card.active {
  transform: scaleY(1.1);
}

.card-pattern {
  position: absolute;

  top: 0;
  left: 0;

  width: 100%;
  height: 6px;
  background: linear-gradient(var(--main-accent));
}

.card-header,
.card-main {
  text-align: center;
  width: 100%;
}

.pricing-btn {
  background-color: var(--pure-black);

  border: none;

  color: var(--pure-white);
  padding-block: 0.875rem;
  padding-inline: 2.5rem;

  cursor: pointer;

  transition: background-color 500ms ease, color 500ms ease-in;
}

.pricing-btn:hover {
  background-color: var(--light-grey);
  color: var(--pure-black);
}

.pricing-btn.active {
  background-color: var(--pure-white);
  color: var(--pure-black);
}

.compare-section {
  max-width: 730px;
  width: 100%;

  display: flex;
  flex-direction: column;

  align-items: center;

  gap: 3.5rem;

  margin-inline: auto;
  margin-bottom: 9.5rem;
}

/* ========== COMPARE TABLE COMPONENT ========== */

.grid-compare {
  display: grid;
  grid-template-columns: 1fr 130px 130px 130px;

  width: 100%;

  padding-inline: 1.5rem;
}

.grid-header {
  width: 100%;
  padding-block: 1.5rem;

  border-bottom: 1px solid var(--pure-black);
}

.grid-item {
  width: 100%;

  display: flex;

  align-items: center;

  padding-block: 1.5rem;

  border-bottom: 1px solid var(--light-grey);
}
.grid-compare > div:nth-child(4n + 1) {
  padding-left: 1rem;
}

.grid-compare > div:nth-child(4n + 2),
.grid-compare > div:nth-child(4n + 3),
.grid-compare > div:nth-child(4n + 4) {
  display: flex;
  justify-content: center;
  text-align: center;
}

/* ========== MOBILE COMPARE TABLE COMPONENT ========== */
.mobile-grid-compare {
  display: none;
}

/* ========== BETA COMPONENT ========== */
.beta-section {
  background-image: url('../src/assets/shared/desktop/bg-beta.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  padding-block: 4.25rem;
}

.beta-invite-content {
  max-width: 30ch;
}

/* ========== FOOTER COMPONENT ========== */
.footer-left-side {
  gap: 7rem;
}

.logo-social-link-container {
  justify-content: space-between;
}

.social-links-container {
  gap: 1.5rem;
}

.social-link svg path {
  fill: white;
}

.social-link:nth-child(1) svg path:hover {
  fill: url(#a);
}

.social-link:nth-child(2) svg path:hover {
  fill: url(#b);
}

.social-link:nth-child(3) svg path:hover {
  fill: url(#c);
}

.social-link:nth-child(4) svg path:hover {
  fill: url(#d);
}

.social-link:nth-child(5) svg path:hover {
  fill: url(#e);
}

.footer-nav {
  gap: 1.125rem;
}

.footer-right-side {
  justify-content: space-between;
  align-items: flex-end;
}

.cta-content:hover {
  text-decoration: underline;
}

.copyright-text {
  font-size: 1rem;

  opacity: 0.5;
}

@media screen and (max-width: 950px) {
  /* ========== HOME COMPONENT ========== */
  .img-container,
  .img-container-inverse {
    width: 28%;
  }

  .hero-article {
    width: 72%;
  }

  .card-section {
    grid-template-columns: 1fr 1fr;
  }

  /* ========== FEATURES COMPONENT ========== */
  .features-page-list {
    grid-template-columns: 1fr 1fr;

    row-gap: 5rem;
  }

  /* ========== PRICING COMPONENT ========== */
  .pricing-card-list {
    flex-direction: column;
  }

  .price-card {
    max-width: 700px;
    grid-template-columns: 1fr 1fr;
  }

  .card-header {
    align-items: flex-start;
    text-align: left;
  }

  .card-main {
    align-items: flex-end;
  }

  .card-pattern {
    width: 6px;
    height: 100%;
  }
}

@media screen and (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .main-nav,
  .btn-container {
    display: none;
  }

  .mobile-nav {
    position: absolute;
    display: flex;

    top: 75px;
    left: 50%;
    transform: translate(-50%);

    background-color: var(--pure-white);

    z-index: 10;
  }

  .features-list {
    flex-direction: column;
    align-items: center;
    gap: 5rem;
  }

  .features-item {
    max-width: 450px;
  }

  .footer-container {
    flex-direction: column;
    align-items: center;

    gap: 5rem;
  }

  .footer-left-side {
    flex-direction: column;

    align-items: center;
    gap: 3rem;
  }

  .footer-nav {
    align-items: center;
  }

  .logo-social-link-container {
    gap: 2rem;
  }

  .footer-right-side {
    gap: 2rem;

    align-items: center;
  }

  /* ========== BETA COMPONENT ========== */
  .beta-section {
    background-image: url('../src/assets/shared/tablet/bg-beta.jpg');
  }
}

@media screen and (max-width: 650px) {
  /* ========== HOME COMPONENT ========== */
  .main-article {
    flex-direction: column;
  }
  .img-container,
  .img-container-inverse,
  .hero-article {
    width: 100%;
  }

  .hero-article {
    padding: 4.5rem 1.5rem;
  }

  .card-section {
    grid-template-columns: 1fr;
  }

  .hero-content-container {
    position: relative;

    width: 100%;

    background-color: var(--pure-black);
  }

  /* ========== FEATURES COMPONENT ========== */
  .features-page-list {
    grid-template-columns: 1fr;

    row-gap: 3rem;
  }

  /* ========== BETA COMPONENT ========== */
  .beta-section {
    background-image: url('../src/assets/shared/mobile/bg-beta.jpg');
  }

  .beta-container {
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
  }

  /* ========== PRICING COMPONENT ========== */

  .price-card {
    max-width: 350px;
    grid-template-columns: 1fr;
  }

  .card-header {
    align-items: center;
    text-align: center;
  }

  .card-main {
    align-items: center;
  }

  .card-pattern {
    width: 100%;
    height: 6px;
  }

  /* ========== COMPARE TABLE COMPONENT ========== */
  .grid-compare {
    display: none;
  }

  /* ========== MOBILE COMPARE TABLE COMPONENT ========== */
  .mobile-grid-compare {
    width: 100%;
    display: grid;
    padding-inline: 1.5rem;
  }

  .mobile-grid-header {
    padding-bottom: 1.5rem;

    border-bottom: 1px solid var(--pure-black);
  }

  .mobile-grid-item {
    padding-block: 1.5rem;

    border-bottom: 1px solid var(--light-grey);
  }
}
